.sidenav-user {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4e4eb1;
  overflow-x: hidden;
}

.sidenav-user a {
  color: white;
  text-align: center;
  display: block;
  padding: 1em;
}

.sidenav-user a:hover {
  background-color: #fff;
  color: #4e4eb1;
}
