.container-chart {
  display: grid;
  grid-template-columns: 50em;
  grid-gap: 5em;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
}

.container-chart div #chart-user {
  color: #fff;
}
