<div class="sidenav-user">
  <a href="/" all="home"><i class="fas fa-home fa-2x"></i></a>
  <a href="/suppliers/new"><i class="fas fa-plus fa-2x"></i></a>
  <a href="#">Link</a>
  <a href="#"><i class="fas fa-cog fa-2x"></i></a>
  <%= link_to raw('<i class="fas fa-sign-out-alt fa-2x"></i>'), destroy_user_session_path, method: :delete %>
</div>
