<%= render "shared/navbar" %>
<main>
  <h1>Página Principal</h1>

  <% if current_user %>
    <p>
      Olá <%= current_user.first_name %>, você está no super aplicativo!
    </p>

    <p>Tá funcionando</p>
  <% end %>
</main>
