<main class="home">
  <%= render "shared/navbar" %>

  <div class="grid-page-root">
    <div class="img-main-page">
      <%= image_tag "box.svg" %>
    </div>

    <div class="msg-intro">
      <h1>Gerenciador de Pedidos</h1>
      <p>A sua melhor forma de controlar seus pedidos.</p>
    </div>
  </div>

  <% if current_user %>
    <p>
      Olá <%= current_user.first_name %>, você está no super aplicativo!
    </p>

    <p>Tá funcionando</p>
  <% end %>
</main>
