.home {
  height: 100%;
}

.grid-page-root {
  margin-top: 8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.img-main-page img {
  height: auto;
  max-width: 100%;
}

.msg-intro {
  text-align: center;
  color: #fff;
}

.msg-intro h1 {
  font-size: 3em;
}
