<p>
  <strong>Razão Social:</strong>
  <%= @supplier.corporate_name %>
</p>

<p>
  <strong>Nome fantansia:</strong>
  <%= @supplier.fantasy_name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @supplier.cnpj %>
</p>
